* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    min-height: 100%;
}

div.box {
    position: relative;
    top: 230px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1600px)
        rotateY(0deg);
    }
    100% {
        transform: perspective(1600px)
        rotateY(360deg);
    }

}

div.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg))translateZ(400px);
}

div.box span img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    -webkit-box-reflect:below 2px linear-gradient(
        transparent,transparent,#0004);
    
}

